# Environment
.env
.env.*
!.env.example

# Node
node_modules/
dist/
coverage/

# NestJS
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
*.db
